/* product page style  */
.service{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 80px;    
}
.service:hover {
    box-shadow: 5px 5px 15px 10px gray;
    border-radius: 4px;
    background-color: #fcf5e3;
    transition: 0.5s ease;
}
.card-img{
    width: 100%;
}
.detailsLink{
    color: black;
    text-decoration: none !important;
}
.violet-button{
    background-color: #f0b916;
    color: #061A3A;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
}
.violet-button:hover{
background-color: #061A3A;
color: white;
transition: 0.5s ease;
}