/* header style  */
.items {
    font-family: 'Dancing Script', cursive;
    list-style: none;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding-top: 15px;
    text-decoration: none;
  }
  .items:hover{
      color: #FFCA2C;
      transition: color 0.5s ease;
  }
  /* menubar style  */
  .menubar{
      background-color: #061A3A;
      position: sticky;
  }

  .user-name{
    font-family: 'Dancing Script', cursive;
      color: white;
      font-size: large;
      font-weight: 400;
      padding: 10px;
      margin-top:15px;
  }
  /* logoname style  */
  .logoname{
    font-family: 'Fruktur', cursive;

  }
  .zilla{
    font-family: 'Fruktur', cursive;
      color: #FFCA2C;
  }
  