.items {
    font-family: 'Dancing Script', cursive;
    list-style: none;
    margin-right: 35px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding-top: 15px;
    text-decoration: none;
  }
  .items:hover{
      color: rgb(212, 107, 212);
      transition: color 0.5s ease;
  }
  .menubar{
      background-color: #061A3A;
  }

  .user-name{
    font-family: 'Dancing Script', cursive;
      color: white;
      font-size: large;
      font-weight: 400;
      padding: 20px;
      margin-top:15px;
  }
  .logoname{
    font-family: 'Fruktur', cursive;

  }
  .vio{
    font-family: 'Fruktur', cursive;
      color: violet;
  }